*{
    color: rgba(0, 0, 0, 0.904);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
h2{
    color:rgb(6, 8, 29);
    font-size: 3rem;
    font-weight: 300;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: #2f363e;
}
.box{
    
    position: relative;
    width: 100%;
    height: 550px;
    background: #2f363e;
    box-shadow: 25px 25px 75px rgb(0,0,0,0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
     inset 5px 5px 10px  rgb(0,0,0,0.5)
     inset 5px 5px 20px rgba(255,255,255,0.2),
     inset -5px -5px 15px rgba(0,0,0,0.75);
}
.list{
    font-weight: 200;
    font-size: 1.2rem;
    border: 1px solid black;
    margin: auto;
    
    
}

